
/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation bar styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

nav .logo {
    width: 265px;
    display: flex;
}
nav .logo i, nav .logo h1 {
    margin: 10px 0 10px 10px;
    line-height: 5px;
}
nav .logo img {
    width: 100px;
    height:70px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.search-container {
    display: flex;
align-items: center;
background: #ffffff;
padding: 10px;
border-radius: 80px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
min-width: 350px;
}

.search-input {
    flex-grow: 1;
padding: 8px 10px;
margin-right: 10px;
border: 1px solid #fff;
border-radius: 5px;
outline: none;
font-size: .8em;
}
.search-input::placeholder {
    color: #027579;

}

.search-input:focus {
    border-color: #fff; /* Highlight color when focused */
}

.search-btn, .clear-btn {
    padding: 8px 15px;
    color: white;
    background-color: #027579; /* Teal background */
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Pointer cursor on hover */
    outline: none;
}

.search-btn:hover, .clear-btn:hover {
    background-color: #027579; /* Darker shade for hover */
}

.clear-btn {
    margin-left: 5px; /* Space between buttons */
   }

.clear-btn:hover {
    background-color: #e64a19; /* Darker shade for hover on clear button */
}

/* Header styling */
header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    color: white;
    background-image: linear-gradient(to right, rgba(2, 117, 121, 0.5), transparent), url('img/city.jpeg');


}
.header-content {
    margin: 100px 0 0 200px;
    width: 50%;
}
.header-content h1 {
    font-size: 4.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.header-content p {
    font-size: 1.5em;
    width: 60%;
    line-height: 1.5;
}
.about {
    width: 80%;
    margin: 100px auto;
}
.about>p {
    padding: 15px;
    background:rgba(0, 0, 0, 0.3);
    width: 100%;
    border-radius: 3px;
}


.header-content button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #027579;
    color: white;
    border: none;
    cursor: pointer;
}

.header-content button:hover {
    background-color: #e03c00;
}
.social-icons {
    position: absolute;
top: 50%;
left: 10px;
height: 150px;
}
.social-icons ul {
display:flex;
    flex-direction: column;
}
.social-icons ul li {
    margin-bottom:10px;
}
.social-icons ul li a {
    color: white;
    font-size: 1.9em;
    text-decoration:none;
}
.social-line {
    position: absolute;
    top: 17%;
    left: 10px;
    width: 2px;
    height: 250px;
    background-color: white;
    margin-left: 55px;
}
.staff {
    display:flex;
    margin-left:50px;


}
.staff-title h2 {
    font-size: 3.4em;
    margin: 0 20px 0 0;
}
.staff-members {
    display:flex;
}
.staff-members>div {
    display:flex;
    align-items: flex-start;
    padding:15px;
    background:rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-right: 10px;

}
.staff-members>div img {
    max-width: 50px;
}
 
.staff-members>div>div {
    display:flex;
    flex-direction:column;
    margin-left: 10px;
}
.staff-members>div>div p {
    font-size: .8em;
}
